<h1>Welcome to the Inventory Tracker!</h1>
<% if session[:user_id] %>
  <%= link_to 'View Inventory', '/items' %>
<% else %>
  <%= button_to 'Create an Account', '/users/new', method: :get, style: 'margin: 5px' %>
  <%= button_to 'Log in', '/sessions/new', method: :get, style: 'margin: 5px' %>
<% end %>
